@mixin shadowblock {
    -webkit-box-shadow: 4px 4px 50px 10px rgba(118, 118, 118, 0.3);
-moz-box-shadow: 4px 4px 50px 10px rgba(118, 118, 118, 0.3);
box-shadow: 4px 4px 50px 10px rgba(118, 118, 118, 0.3);

}
body{
    font-family: 'Poppins', sans-serif;
}
.wrapper{   
    @include shadowblock();
}

.bg-dark{
    background-color: #101820!important;
    border-radius: 2px;
}

.main-wrapper{
display: flex;
justify-content: center;
}
.converter-wrapper{
    background-color: #F2AA4C;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 2px;
    text-align: center;
    margin-top: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    h2{
        margin: 14px 0px;
    }
    button{
        width: 200px;
        margin: 10px auto;
    }
}
.converter-wrapper-input{
   margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

    
    .form-select{
        width: 270px;
        margin: 10px;
    }
    .before{
        margin-right: 20px;

        input{
            width: 270px;
            margin: 10px;
        }
    }
    .material-symbols-outlined{
        margin: 10px;
        height: 55px;
        padding: 16px;
        width: 58px;
    }
    .after{
        margin-left: 20px;
        input{
            width: 270px;
            margin: 10px;
        }
    }
}
.main-wrapper-portfolio{
    h2{
        text-align: center;
        margin-top: 25px;
        margin-block-end: 0px;
       }
       display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.portfolio-wrapper{
   background-color: #F2AA4C;
    margin-top: 10px;
    width: 100%;
    border-radius: 2px;

    .portfolio-wrapper-div{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
    }
    .my-money{
        
    padding: 18px;
    span{
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        margin: 10px 0px;
        
        img{
            width: 2rem;
        }
         p{
            font-size: 24px;
            margin-bottom: 0px;
         }
        .btn{
        margin: 6px;
        width: 20%px; 
        border: 1px solid #101820;
        
        }
    }
}
    .my-money-schedule{
        padding: 18px;
        width: 380px;
        margin-bottom: 28px;
        @include shadowblock();
        border-radius: 10px;
    }
}
.crypto-14d-wrapper{
    background-color: #F2AA4C;
    h2{
        text-align: center;
        padding-top: 15px;
        margin-block-end: 0px;
    }
    .crypto-14d-cards{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        .card{
            margin: 15px;
            border: none;
            @include shadowblock();
            background-color: #101820;

        }
        .card-img-top{
            width: 6rem;
            margin: 15px auto;
        }
        .card-body{
            text-align: center;
            background-color: #F2AA4C;
        }
    }
    
    
}
